@import "tailwindcss";

*{
  font-family: Outfit ;
}

.lightHover:hover{
  background-color: #fcf4ff;
}

.darkHover:hover{
  background-color: #2a004a;
}

.darkTheme{
  color: #efedf1;
  background-color: #11001f;
}

.dark-shadow{
  box-shadow:#b897c4;
}

.dark-ul{
  border: #efedf1;
  background-color: transparent;
}

.dark{
  display: none;
}

.font-Ovo{
  font-family: serif;
}

.blackShadow:hover{
  box-shadow: 4px 4px 0 #000;
}

.white{
  box-shadow: 4px 4px 0 #fff;
}

